body{
    margin: 0;
    font-size: 'Tahoma';
}
.container{
    padding: 30px 0;
    text-align: center;
}
p{
    margin: 10px auto;
    width: 880px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.text-amarelo{
    font-weight: bold;
    color: #fff81b;
}
.text-azul{
    font-weight: bold;
    color: #1d80c1;
}
/********/
#secao1{
    background-color: #afddfb;
}
#secao1 img{
    width: 150px;
}
#secao1 p{
    margin: 15px auto 25px auto;
    text-align: center;
}
#secao1 p a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
#secao2{
    margin-top: 50px;
    padding-top: 0;
}
#sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}
#sobre h2{
    color: #1c81c0;
    margin: 0;
    font-weight: normal;
}
#sobre img{
    width: 450px;
}
#servicos, #contato{
    background-color: #1d80c1;
}
#servicos h3, #contato h3{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
#servicos p{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}
#servicos ul{
    width: 135px;
    margin: 40px auto;
}
#servicos ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
/*********/
#corretores h3{
    font-size: 28px;
}
#corretores img{
    width: 450px;
}
/******/
#contato iframe{
    width: 450px;
    height: 300px;
}
#contato p{
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
}
#contato ul{
    list-style-type: none;
    margin: 40px auto;
    width: 210px;
}
#contato ul li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
#contato ul li a{
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}